body {
  overflow: hidden;
}
.friends-screen {
  padding: 0 var(--horizontal-space);
}
.friends-screen__row {
  margin-top: 10px;
  border-top: var(--main-border);
  padding-top: 20px;
}
.friends-screen__row:nth-child(4) {
  padding-bottom: 10px;
}
.friends-screen__row-header {
  display: flex;
  justify-content: space-between;
  opacity: 0.4;
  font-size: 14px;
}
@keyframes hideSplashScreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--mainColor);
  font-size: 80px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}
