#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 10px;
}
#friends-display-link i {
  color: var(--gray);
  margin-right: 5px;
  margin-top: -10px;
}
.friends-screen {
  padding: 0 var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 10px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
}
@keyframes hideSplashScreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  font-size: 80px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}
