.welcome-header {
  display: flex;
  flex-direction: column;
  margin: 120px 0 90px 0;
  text-align: center;
  align-items: center;
}
.welcome-header__title {
  font-weight: 600;
  margin-bottom: 50px;
  font-size: 25px;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
  line-height: 1.4em;
  font-size: 12px;
}
.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}
.login-form input {
  margin-bottom: 25px;
  border-radius: 10px;
  text-indent: 10px;
}
.login-form__input {
  padding: 15px 0;
  border: none;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
.login-form__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.login-form__input:focus {
  border-color: var(--mainColor);
}
.login-form__btn {
  background-color: var(--mainColor);
  border: none;
  cursor: pointer;
  padding: 20px 0;
  border-radius: 5px;
  font-size: 16px;
  color: whitesmoke;
}
.login-form__a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
