.kakaopay__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  background-color: var(--mainColor);
  height: 50px;
}
.kakaopay__display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 0 15px;
  margin-left: 12px;
  background-color: #222;
  border-radius: 30px;
}
.kakaopay__pay {
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 7px;
}
.kakaopay__cash {
  font-size: 14px;
  margin-left: 7px;
}
.kakaopay__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}
.kakaopay__btns span {
  display: block;
  padding: 10px;
}
