.no-mobile {
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: var(--mainColor);
  font-size: 32px;
  font-weight: 600;
}
.no-mobile span {
  margin-right: 15px;
}
.no-mobile i {
  font-size: 40px;
}
@media screen and (max-width: 645px) {
  .no-mobile {
    display: none;
  }
}
